# Finance & Economics Data - Time Series Analysis

## Team - Econometrics

#### Dataset used - Finance & Economics Dataset (2000 - Present) (https://www.kaggle.com/datasets/khushikyad001/finance-and-economics-dataset-2000-present)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')

In [5]:
print("---  Data Understanding & Cleaning ---")

try:
    df = pd.read_csv('finance_economics_dataset.csv', parse_dates=['Date'], index_col='Date')
    print("Successfully loaded data from 'Finance&Economics_dataset.csv'.")
except FileNotFoundError:
    print("Error: 'Finance&Economics_dataset.csv' not found.")
    print("Please download the dataset from Kaggle and place it in the correct folder.")
    exit() # Exit the script if the file isn't found

# The project specifies a time range of 2000-2008,filtering the dataset.
df = df.loc['2000-01-01':'2008-12-31']

# Renaming columns for consistency and ease of use
df = df.rename(columns={
    'SP500_Index': 'SP500',
    'Inflation': 'CPI',
    'Interest_Rate': 'InterestRate',
    'Unemployment_Rate': 'UnemploymentRate'
})

---  Data Understanding & Cleaning ---
Successfully loaded data from 'Finance&Economics_dataset.csv'.

In [7]:
# 1.2 Dataset Exploration
print("\nInitial Data Exploration:")
print("Shape of the dataset:", df.shape)
print("\nFirst 5 rows:")
print(df.head())
print("\nLast 5 rows:")
print(df.tail())
print("\nData types and null values:")
df.info()

Initial Data Exploration:
Shape of the dataset: (3000, 23)

First 5 rows:
           Stock Index  Open Price  Close Price  Daily High  Daily Low  \
Date
2000-01-01   Dow Jones     2128.75      2138.48     2143.70    2100.55
2000-01-02     S&P 500     2046.82      2036.18     2082.83    2009.53
2000-01-03   Dow Jones     1987.92      1985.26     2022.28    1978.37
2000-01-04   Dow Jones     4625.02      4660.47     4665.26    4595.46
2000-01-05     S&P 500     1998.18      1982.18     2044.31    1966.44

            Trading Volume  GDP Growth (%)  Inflation Rate (%)  \
Date
2000-01-01         2670411           -0.37                6.06
2000-01-02       690220415            3.19                4.95
2000-01-03       315284661            5.54                9.13
2000-01-04        13098297           10.00                3.77
2000-01-05       385306746            1.53                2.20

            Unemployment Rate (%)  Interest Rate (%)  ...  Forex USD/EUR  \
Date                                                  ...
2000-01-01                   6.10               6.06  ...           1.04
2000-01-02                   6.62               2.19  ...           1.00
2000-01-03                   2.60               0.82  ...           0.83
2000-01-04                   2.20               3.71  ...           0.95
2000-01-05                   8.20               4.56  ...           1.43

            Forex USD/JPY  Crude Oil Price (USD per Barrel)  \
Date
2000-01-01         119.87                             47.20
2000-01-02          98.22                             52.84
2000-01-03          80.13                             78.80
2000-01-04         149.15                             28.18
2000-01-05         113.71                             92.20

            Gold Price (USD per Ounce)  Real Estate Index  \
Date
2000-01-01                     1052.34             390.23
2000-01-02                     1957.73             346.23
2000-01-03                     2339.49             439.46
2000-01-04                     1308.54             213.07
2000-01-05                     2210.08             405.49

            Retail Sales (Billion USD)  Bankruptcy Rate (%)  \
Date
2000-01-01                        2229                 2.12
2000-01-02                        4156                 1.40
2000-01-03                         340                 0.79
2000-01-04                        8456                 4.22
2000-01-05                        1596                 2.21

            Mergers & Acquisitions Deals  \
Date
2000-01-01                             3
2000-01-02                            21
2000-01-03                            48
2000-01-04                            16
2000-01-05                            34

            Venture Capital Funding (Billion USD)  \
Date
2000-01-01                                  76.64
2000-01-02                                   5.67
2000-01-03                                  39.43
2000-01-04                                  12.83
2000-01-05                                  86.37

            Consumer Spending (Billion USD)
Date
2000-01-01                             4589
2000-01-02                            10101
2000-01-03                            13665
2000-01-04                             5192
2000-01-05                            10688

[5 rows x 23 columns]

Last 5 rows:
           Stock Index  Open Price  Close Price  Daily High  Daily Low  \
Date
2008-03-14   Dow Jones     1273.76      1235.44     1317.28    1192.34
2008-03-15     S&P 500     4589.59      4566.91     4607.56    4545.69
2008-03-16     S&P 500     1477.52      1448.47     1523.86    1402.69
2008-03-17      NASDAQ     2311.37      2306.90     2346.30    2282.00
2008-03-18      NASDAQ     4262.98      4303.82     4316.68    4243.04

            Trading Volume  GDP Growth (%)  Inflation Rate (%)  \
Date
2008-03-14        86910001            8.84                7.00
2008-03-15       303579301           -1.88                9.15
2008-03-16       442387176            4.07                0.88
2008-03-17       523425925            1.06                8.61
2008-03-18       990814609            6.61                7.93

            Unemployment Rate (%)  Interest Rate (%)  ...  Forex USD/EUR  \
Date                                                  ...
2008-03-14                  10.44               7.29  ...           1.18
2008-03-15                   5.61               8.46  ...           1.17
2008-03-16                   8.91               4.80  ...           1.02
2008-03-17                  10.15               7.60  ...           1.49
2008-03-18                  10.32               3.37  ...           0.85

            Forex USD/JPY  Crude Oil Price (USD per Barrel)  \
Date
2008-03-14         113.52                             61.98
2008-03-15         147.10                             31.61
2008-03-16          81.99                             45.64
2008-03-17          86.42                            123.25
2008-03-18          97.03                            144.06

            Gold Price (USD per Ounce)  Real Estate Index  \
Date
2008-03-14                     2385.41             298.72
2008-03-15                     2147.13             143.43
2008-03-16                     1943.61             105.81
2008-03-17                     2211.40             236.07
2008-03-18                     1225.09             201.82

            Retail Sales (Billion USD)  Bankruptcy Rate (%)  \
Date
2008-03-14                        3033                 8.75
2008-03-15                        7950                 5.07
2008-03-16                        3894                 5.78
2008-03-17                        2543                 2.35
2008-03-18                        4354                 7.99

            Mergers & Acquisitions Deals  \
Date
2008-03-14                            35
2008-03-15                            18
2008-03-16                             4
2008-03-17                            22
2008-03-18                            43

            Venture Capital Funding (Billion USD)  \
Date
2008-03-14                                  66.01
2008-03-15                                  25.49
2008-03-16                                  14.29
2008-03-17                                  94.34
2008-03-18                                  63.36

            Consumer Spending (Billion USD)
Date
2008-03-14                             2200
2008-03-15                             5261
2008-03-16                            12039
2008-03-17                            11979
2008-03-18                            11220

[5 rows x 23 columns]

Data types and null values:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3000 entries, 2000-01-01 to 2008-03-18
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Stock Index                            3000 non-null   object
 1   Open Price                             3000 non-null   float64
 2   Close Price                            3000 non-null   float64
 3   Daily High                             3000 non-null   float64
 4   Daily Low                              3000 non-null   float64
 5   Trading Volume                         3000 non-null   int64
 6   GDP Growth (%)                         3000 non-null   float64
 7   Inflation Rate (%)                     3000 non-null   float64
 8   Unemployment Rate (%)                  3000 non-null   float64
 9   Interest Rate (%)                      3000 non-null   float64
 10  Consumer Confidence Index              3000 non-null   int64
 11  Government Debt (Billion USD)          3000 non-null   int64
 12  Corporate Profits (Billion USD)        3000 non-null   int64
 13  Forex USD/EUR                          3000 non-null   float64
 14  Forex USD/JPY                          3000 non-null   float64
 15  Crude Oil Price (USD per Barrel)       3000 non-null   float64
 16  Gold Price (USD per Ounce)             3000 non-null   float64
 17  Real Estate Index                      3000 non-null   float64
 18  Retail Sales (Billion USD)             3000 non-null   int64
 19  Bankruptcy Rate (%)                    3000 non-null   float64
 20  Mergers & Acquisitions Deals           3000 non-null   int64
 21  Venture Capital Funding (Billion USD)  3000 non-null   float64
 22  Consumer Spending (Billion USD)        3000 non-null   int64
dtypes: float64(15), int64(7), object(1)
memory usage: 562.5+ KB

In [9]:
# 1.3 Data Cleaning & Preprocessing
# Checking and handling the missing values.

if df.isnull().sum().any():
    print("\nMissing values found. Applying forward-fill and back-fill...")
    # We will use forward-fill to propagate the last known value.
    df_cleaned = df.ffill()
    # Use back-fill for any remaining NaNs at the beginning of the series.
    df_cleaned = df_cleaned.bfill()
else:
    print("\nNo missing values found in the dataset for the specified date range.")
    df_cleaned = df.copy()


print("\nMissing values after cleaning (if any):")
print(df_cleaned.isnull().sum())

print("\nCleaned data info:")
df_cleaned.info()

No missing values found in the dataset for the specified date range.

Missing values after cleaning (if any):
Stock Index                              0
Open Price                               0
Close Price                              0
Daily High                               0
Daily Low                                0
Trading Volume                           0
GDP Growth (%)                           0
Inflation Rate (%)                       0
Unemployment Rate (%)                    0
Interest Rate (%)                        0
Consumer Confidence Index                0
Government Debt (Billion USD)            0
Corporate Profits (Billion USD)          0
Forex USD/EUR                            0
Forex USD/JPY                            0
Crude Oil Price (USD per Barrel)         0
Gold Price (USD per Ounce)               0
Real Estate Index                        0
Retail Sales (Billion USD)               0
Bankruptcy Rate (%)                      0
Mergers & Acquisitions Deals             0
Venture Capital Funding (Billion USD)    0
Consumer Spending (Billion USD)          0
dtype: int64

Cleaned data info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3000 entries, 2000-01-01 to 2008-03-18
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Stock Index                            3000 non-null   object
 1   Open Price                             3000 non-null   float64
 2   Close Price                            3000 non-null   float64
 3   Daily High                             3000 non-null   float64
 4   Daily Low                              3000 non-null   float64
 5   Trading Volume                         3000 non-null   int64
 6   GDP Growth (%)                         3000 non-null   float64
 7   Inflation Rate (%)                     3000 non-null   float64
 8   Unemployment Rate (%)                  3000 non-null   float64
 9   Interest Rate (%)                      3000 non-null   float64
 10  Consumer Confidence Index              3000 non-null   int64
 11  Government Debt (Billion USD)          3000 non-null   int64
 12  Corporate Profits (Billion USD)        3000 non-null   int64
 13  Forex USD/EUR                          3000 non-null   float64
 14  Forex USD/JPY                          3000 non-null   float64
 15  Crude Oil Price (USD per Barrel)       3000 non-null   float64
 16  Gold Price (USD per Ounce)             3000 non-null   float64
 17  Real Estate Index                      3000 non-null   float64
 18  Retail Sales (Billion USD)             3000 non-null   int64
 19  Bankruptcy Rate (%)                    3000 non-null   float64
 20  Mergers & Acquisitions Deals           3000 non-null   int64
 21  Venture Capital Funding (Billion USD)  3000 non-null   float64
 22  Consumer Spending (Billion USD)        3000 non-null   int64
dtypes: float64(15), int64(7), object(1)
memory usage: 562.5+ KB